form {
    max-width: 600px;
}

.container {
    padding: 44px;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.full-width .mdl-textfield {
    width: 100%;
}

.align-right {
    text-align: right;
}

input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
}

#uploaderBtn {
    right: 0;
}

.timestamp {
    font-size: 12px;
    color: #888;
}

md-card {
    margin-bottom: 20px;
}

.background {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url(http://7xlotq.com1.z0.glb.clouddn.com/o_19vs0vdokb281h4m1jog13nl191s9.png) center center no-repeat;
    background-size: cover;
}

a.github {
    position: fixed;
    top: 50px;
    right: -50px;
    background: rgb(63, 81, 181);
    color: #fff !important;
    display: block;
    padding: 10px 35px;
    font-size: 16px;
    z-index: 3;
    text-decoration: none;
    -webkit-transform: rotate(45deg);
}

.i-card-cover {
    border-radius: 2px 2px 0 0;
    width: 100%;
    height: 60vw;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 600px) {
    .i-card-cover {
        height: 580px;
    }
}

md-content {
    background: transparent;
}

.btn-icon {
    vertical-align: middle;
    height: 20px;
    margin-right: 8px;
}

.login-form, .main-content {
    /*display: none;*/
}
