form {
    max-width: 600px;
}

.container {
    padding: 44px;
    width: 600px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.full-width .mdl-textfield {
    width: 100%;
}

.align-right {
    text-align: right;
}

input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
}

#uploaderBtn {
    right: 0;
}

.timestamp {
    font-size: 12px;
    color: #888;
}

md-card {
    margin-bottom: 20px;
}

.background {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url(http://7xlotq.com1.z0.glb.clouddn.com/o_19vdbnjos2qlmeu16ngiup5uu9.jpg?imageView2/2/w/99999/q/15) center center no-repeat;
    background-size: cover;
    -webkit-filter: blur(10px);
}

a.github {
    position: fixed;
    top: 50px;
    right: -50px;
    background: rgb(63,81,181);
    color: #fff!important;
    display: block;
    padding: 10px 35px;
    font-size: 16px;
    z-index: 3;
    text-decoration: none;
    -webkit-transform: rotate(45deg);
}
